
<mat-card>
  <mat-card-content>

    <mat-toolbar> Produtos Disponiveis </mat-toolbar>

    <mat-table #table [dataSource]="products" class="column-flex mat-elevation-z8">

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Codigo do Produto </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome do Produto </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Categoria do Produto </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions-column">
          <button mat-mini-fab color="accent" aria-label="Adcionar novo produto.">
            <mat-icon (click)="onNewProduct()">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let product" class="actions-column">
          <button mat-icon-button color="primary" aria-label="Alterar dados do produto.">
            <mat-icon (click)="onEdit(product)">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Deletar produto.">
            <mat-icon (click)="onDelete(product)">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


  </mat-card-content>
</mat-card>
