
table {
  width: 100%;
}

.actions-column {
  flex: 0 0 75px
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.container {
	margin: 0 auto;
	display: flex;
}

.row-reverse {
	flex-direction: row-reverse;
}

